# Data Analysis

import useful modules, including the Pandas module

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Pandas allows you do read a comma separated values (CSV file) into a Pandas DataFrame. Note that Pandas has similar methods to read excel spreadsheets, html pages, or other file formats.

In [3]:
protein=pd.read_csv('protein_environ.csv')
type(protein)

pandas.core.frame.DataFrame

Feel free to explore some of the features of Pandas DataFrames. The DataFrame.head() method allows you to look at the first rows of the DataFrame

In [17]:
protein.head()

,ELEMENT,R,SUR_CONT_5.0,SUR_CONT_10.0,SUR_CONT_15.0,SUR_CONT_20.0,SUR_CONT_25.0,SUR_CONT_30.0,VOL_CONT_5.0,VOL_CONT_10.0,VOL_CONT_15.0,VOL_CONT_20.0,VOL_CONT_25.0,VOL_CONT_30.0,X,Y,Z,New
0,N,1.8300,121.522571,548.881028,1264.830463,2289.518419,3391.337424,3653.967363,223.210796,1143.797421,3207.296557,5795.562616,7437.812100,7679.494767,0.074,3.305,12.661,3.379
1,C,1.9255,134.702052,636.530842,1387.827686,2514.313781,3500.515835,3671.055810,290.567109,1327.942094,3665.775446,6226.401736,7525.075946,7690.406892,0.320,3.899,11.317,4.219
2,C,1.9255,114.170039,810.368483,1933.682919,3205.454201,3625.612448,3677.940933,454.008471,2309.263868,5206.656879,7176.821360,7647.408006,7692.459359,0.793,1.870,8.105,2.663
3,C,1.9255,145.443717,534.715664,1293.692551,2189.031480,2983.734659,3550.846935,258.304961,1307.891841,3086.614355,5262.122889,6800.541229,7582.953084,10.492,8.361,3.293,18.853
4,O,1.7500,142.193057,537.457788,1295.587449,2192.705808,3036.771003,3571.304334,243.117558,1284.578485,3080.921720,5310.062713,6891.578978,7604.861335,9.417,9.223,3.637,18.640

Note that, like in an Excel spreadsheet, apart from the data itself, a DataFrame has two special properties: the columns labels and the row indexes. Both these properties can be specified independently when you read or create a dataframe. By default, if the indexes are not specified, they are assigned as increasing integers

The DataFrame.info() methods gives you a summary of the data

In [4]:
protein.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753 entries, 0 to 752
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ELEMENT        753 non-null    object
 1   R              753 non-null    float64
 2   SUR_CONT_5.0   753 non-null    float64
 3   SUR_CONT_10.0  753 non-null    float64
 4   SUR_CONT_15.0  753 non-null    float64
 5   SUR_CONT_20.0  753 non-null    float64
 6   SUR_CONT_25.0  753 non-null    float64
 7   SUR_CONT_30.0  753 non-null    float64
 8   VOL_CONT_5.0   753 non-null    float64
 9   VOL_CONT_10.0  753 non-null    float64
 10  VOL_CONT_15.0  753 non-null    float64
 11  VOL_CONT_20.0  753 non-null    float64
 12  VOL_CONT_25.0  753 non-null    float64
 13  VOL_CONT_30.0  753 non-null    float64
 14  X              753 non-null    float64
 15  Y              753 non-null    float64
 16  Z              753 non-null    float64
dtypes: float64(16), object(1)
memory usage: 100.1+ KB

One can access a specific column using a syntax similar to Python dictionaries, i.e. by specifying the label in the square brakets. Note that each column is a Pandas Series object.

In [6]:
type(protein['X'])

pandas.core.series.Series

However, for numerical Series, the values stored in each colum are just standard numpy arrays

In [8]:
type(protein['X'].values)

numpy.ndarray

The first column of the DataFrame contains object variables, which in this case are just strings with the element labels. You can count how many occurrences of each label with the value_count() method.

In [5]:
protein['ELEMENT'].value_counts()

H    365
C    242
O     76
N     64
S      6
Name: ELEMENT, dtype: int64

You can perform operations on Series of the same length and save them in new columns

In [25]:
protein['New']=protein['X']+protein['Y']
protein.head()

,ELEMENT,R,SUR_CONT_5.0,SUR_CONT_10.0,SUR_CONT_15.0,SUR_CONT_20.0,SUR_CONT_25.0,SUR_CONT_30.0,VOL_CONT_5.0,VOL_CONT_10.0,VOL_CONT_15.0,VOL_CONT_20.0,VOL_CONT_25.0,VOL_CONT_30.0,X,Y,Z,New
0,N,1.8300,121.522571,548.881028,1264.830463,2289.518419,3391.337424,3653.967363,223.210796,1143.797421,3207.296557,5795.562616,7437.812100,7679.494767,0.074,3.305,12.661,3.379
1,C,1.9255,134.702052,636.530842,1387.827686,2514.313781,3500.515835,3671.055810,290.567109,1327.942094,3665.775446,6226.401736,7525.075946,7690.406892,0.320,3.899,11.317,4.219
2,C,1.9255,114.170039,810.368483,1933.682919,3205.454201,3625.612448,3677.940933,454.008471,2309.263868,5206.656879,7176.821360,7647.408006,7692.459359,0.793,1.870,8.105,2.663
3,C,1.9255,145.443717,534.715664,1293.692551,2189.031480,2983.734659,3550.846935,258.304961,1307.891841,3086.614355,5262.122889,6800.541229,7582.953084,10.492,8.361,3.293,18.853
4,O,1.7500,142.193057,537.457788,1295.587449,2192.705808,3036.771003,3571.304334,243.117558,1284.578485,3080.921720,5310.062713,6891.578978,7604.861335,9.417,9.223,3.637,18.640

and you can drop columns or rows with the drop() method. Note that drop returns a new DataFrame and does not directly affect the calling object.

In [26]:
protein=protein.drop(columns=['New'])
protein.head()

,ELEMENT,R,SUR_CONT_5.0,SUR_CONT_10.0,SUR_CONT_15.0,SUR_CONT_20.0,SUR_CONT_25.0,SUR_CONT_30.0,VOL_CONT_5.0,VOL_CONT_10.0,VOL_CONT_15.0,VOL_CONT_20.0,VOL_CONT_25.0,VOL_CONT_30.0,X,Y,Z
0,N,1.8300,121.522571,548.881028,1264.830463,2289.518419,3391.337424,3653.967363,223.210796,1143.797421,3207.296557,5795.562616,7437.812100,7679.494767,0.074,3.305,12.661
1,C,1.9255,134.702052,636.530842,1387.827686,2514.313781,3500.515835,3671.055810,290.567109,1327.942094,3665.775446,6226.401736,7525.075946,7690.406892,0.320,3.899,11.317
2,C,1.9255,114.170039,810.368483,1933.682919,3205.454201,3625.612448,3677.940933,454.008471,2309.263868,5206.656879,7176.821360,7647.408006,7692.459359,0.793,1.870,8.105
3,C,1.9255,145.443717,534.715664,1293.692551,2189.031480,2983.734659,3550.846935,258.304961,1307.891841,3086.614355,5262.122889,6800.541229,7582.953084,10.492,8.361,3.293
4,O,1.7500,142.193057,537.457788,1295.587449,2192.705808,3036.771003,3571.304334,243.117558,1284.578485,3080.921720,5310.062713,6891.578978,7604.861335,9.417,9.223,3.637

You can access specific rows or part of a Series using the Series.loc[] and Series.iloc[] selection tools. The main difference between the two is that loc[] access the indexes, while iloc uses the position in the usual Python slicing sense.

In [31]:
protein.iloc[:,0]

0      N
1      C
2      C
3      C
4      O
      ..
748    H
749    N
750    C
751    C
752    O
Name: ELEMENT, Length: 753, dtype: object

Note that the indexes enetered in loc[] are inclusive of the ending value

In [34]:
protein.loc[1:2,:]

,ELEMENT,R,SUR_CONT_5.0,SUR_CONT_10.0,SUR_CONT_15.0,SUR_CONT_20.0,SUR_CONT_25.0,SUR_CONT_30.0,VOL_CONT_5.0,VOL_CONT_10.0,VOL_CONT_15.0,VOL_CONT_20.0,VOL_CONT_25.0,VOL_CONT_30.0,X,Y,Z
1,C,1.9255,134.702052,636.530842,1387.827686,2514.313781,3500.515835,3671.055810,290.567109,1327.942094,3665.775446,6226.401736,7525.075946,7690.406892,0.320,3.899,11.317
2,C,1.9255,114.170039,810.368483,1933.682919,3205.454201,3625.612448,3677.940933,454.008471,2309.263868,5206.656879,7176.821360,7647.408006,7692.459359,0.793,1.870,8.105

By using the loc[] selection, Boolean conditions computed on one column can be used to perform operations on specific rows of the DataFrame

In [37]:
protein.loc[protein['ELEMENT']=='O']

,ELEMENT,R,SUR_CONT_5.0,SUR_CONT_10.0,SUR_CONT_15.0,SUR_CONT_20.0,SUR_CONT_25.0,SUR_CONT_30.0,VOL_CONT_5.0,VOL_CONT_10.0,VOL_CONT_15.0,VOL_CONT_20.0,VOL_CONT_25.0,VOL_CONT_30.0,X,Y,Z
4,O,1.75,142.193057,537.457788,1295.587449,2192.705808,3036.771003,3571.304334,243.117558,1284.578485,3080.921720,5310.062713,6891.578978,7604.861335,9.417,9.223,3.637
17,O,1.75,82.878926,870.002475,1884.006826,2722.012705,3367.089451,3675.601286,491.098818,2309.084171,4694.083891,6315.366928,7377.463103,7691.999900,9.476,2.347,2.151
19,O,1.75,108.194226,714.665576,1531.602628,2419.713708,3100.791328,3585.323229,348.439648,1737.973884,3847.637947,5709.420583,6982.846341,7617.572801,10.623,3.873,5.368
24,O,1.75,114.976422,889.385038,2145.451070,3226.479069,3624.671765,3677.940933,460.480199,2698.707897,5588.130003,7170.002215,7648.957103,7692.459359,2.588,2.138,6.541
29,O,1.75,119.022134,664.186497,1634.704431,2532.927647,3140.560034,3610.662985,305.228957,1770.833800,4074.352802,5856.708348,7010.152348,7642.745217,11.333,-1.652,4.163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705,O,1.75,101.737201,414.989200,942.295708,1729.798930,2700.219597,3521.522081,166.769571,687.369081,1868.213623,3926.249073,6067.059032,7614.954502,-13.294,8.984,-6.226
711,O,1.75,121.558797,519.232862,1128.725537,2024.973637,2945.327717,3669.106544,234.750899,979.662070,2387.308937,4562.745230,6613.816005,7690.371752,-12.959,7.165,-5.122
730,O,1.75,83.997437,933.818192,2009.169875,2853.175853,3477.688224,3677.870379,484.940993,2543.364290,4988.503031,6572.140661,7502.281350,7692.451102,7.570,3.543,3.469
741,O,1.75,99.865754,812.460354,1768.449353,2725.798188,3448.019328,3677.845024,440.099305,2132.922262,4527.205314,6400.697014,7472.273855,7692.447566,7.787,6.097,1.303
752,O,1.75,125.754165,567.583699,1330.759647,2213.671727,2928.855759,3520.810029,296.227477,1361.438537,3224.052696,5237.594870,6695.174611,7553.172971,12.118,6.147,2.911

Assignment 1A: Extract the data corresponding to the SUR_CONT_5.0 and VOL_CONT_5.0 columns. Characterize the frequency distribution of these two data sets.

Assignment 1B: Compute the mean value of these two properties

Assignmnet 1C: Compute the standard deviation of these two properties