In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
protein=pd.read_csv('protein_environ.csv')

In [12]:
protein.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753 entries, 0 to 752
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ELEMENT        753 non-null    object
 1   R              753 non-null    float64
 2   SUR_CONT_5.0   753 non-null    float64
 3   SUR_CONT_10.0  753 non-null    float64
 4   SUR_CONT_15.0  753 non-null    float64
 5   SUR_CONT_20.0  753 non-null    float64
 6   SUR_CONT_25.0  753 non-null    float64
 7   SUR_CONT_30.0  753 non-null    float64
 8   VOL_CONT_5.0   753 non-null    float64
 9   VOL_CONT_10.0  753 non-null    float64
 10  VOL_CONT_15.0  753 non-null    float64
 11  VOL_CONT_20.0  753 non-null    float64
 12  VOL_CONT_25.0  753 non-null    float64
 13  VOL_CONT_30.0  753 non-null    float64
 14  X              753 non-null    float64
 15  Y              753 non-null    float64
 16  Z              753 non-null    float64
dtypes: float64(16), object(1)
memory usage: 100.1+ KB

In [13]:
protein.describe()

,R,SUR_CONT_5.0,SUR_CONT_10.0,SUR_CONT_15.0,SUR_CONT_20.0,SUR_CONT_25.0,SUR_CONT_30.0,VOL_CONT_5.0,VOL_CONT_10.0,VOL_CONT_15.0,VOL_CONT_20.0,VOL_CONT_25.0,VOL_CONT_30.0,X,Y,Z
count,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000
mean,1.666522,120.539550,757.869972,1859.566245,2932.612797,3493.941309,3662.089524,370.069868,2079.341139,4651.867883,6627.229345,7475.657183,7679.999980,-0.309786,-0.402912,0.289620
std,0.223149,26.627666,127.906642,438.981687,473.493131,247.196913,53.634124,91.588476,650.201176,1129.969346,887.475741,362.883833,53.097115,7.009928,4.902998,5.489134
min,1.443000,36.765990,383.438818,927.364618,1597.584088,2347.507667,3085.482098,132.651890,522.391154,1736.516599,3393.854157,5170.885430,6919.565625,-14.938000,-10.037000,-13.145000
25%,1.443000,106.963780,667.901640,1534.323476,2563.185596,3378.350679,3676.775121,303.154396,1595.660862,3836.169332,6069.534643,7390.259272,7692.249361,-5.484000,-4.492000,-4.006000
50%,1.750000,123.320080,768.675990,1799.105626,2964.657003,3616.695035,3677.940933,384.649423,2025.952419,4635.366162,6834.803121,7653.648015,7692.459359,0.278000,-0.706000,-0.160000
75%,1.925500,137.733738,855.097150,2145.634368,3323.645426,3677.846277,3677.940933,451.399995,2524.599986,5464.483123,7366.067198,7692.448005,7692.459359,4.853000,3.545000,4.529000
max,2.017500,212.237845,1006.391481,3032.442073,3677.936289,3677.940933,3677.940933,511.325686,3643.871761,7103.493038,7692.458952,7692.459359,7692.459359,13.864000,9.969000,13.384000

In [16]:
protein['ELEMENT'].value_counts()

H    365
C    242
O     76
N     64
S      6
Name: ELEMENT, dtype: int64